[2015-01-16 16:31] pierreozoux opened #1 "short and long argument name"
Hi, and thanks for your work, this is really helpful :)

I have a little question, how would you do for short and long argument name.
Let's say I have an argument `filename`, and you can either use it with `-f` or `--filename`. It is also required.
Would you have a quick way to adapt you boiler plate to fit that?

Thanks a lot again :)

Pierre

[2015-01-17 09:13] kvz commented on #1
Hi,

I did some research on supporting long opt parsing, but all solutions I found either weren't portable  / introduced dependencies, or a big chunk of code. So I settled on only supporting short arguments for b3bp. I'm open to including long support we find an elegant way though, maybe by adding it to the `./src`folder as a separate include.

[2016-02-11 16:29] zbeekman commented on #1
I too would love support for long options. A good place to start looking into this is here: http://mywiki.wooledge.org/ComplexOptionParsing

Note, that there are some bash4 features in some of these snippets, and these would need to be ported to bash3. One obvious one is associative arrays. A work around for bash 3 associative arrays is here: http://stackoverflow.com/questions/688849/associative-a

[2016-02-12 07:37] kvz commented on #1
If we can make this work in bash3 without doubling the total boilerplate size, I'm game : )

Maybe we can start with a prototype PR and comment & iterate from there?

[2016-02-16 13:28] kvz opened #4 "Continuous Integration"
It would be cool to have basic tests ran on Travis CI.
Bonus points for running against multiple bash versions and GNU/BSD tools. Unsure yet how to do that tho.

[2016-02-16 15:55] zbeekman commented on #4
7a3a07989f0bbf90604f97367ec3cad528fd448e may have broken the Travis-CI setup... I don't have much experience with node/npm but that latest build  appears not to have actually run any tests. Maybe container based infrastructure wasn't such a brilliant idea? I'll try to look at the Travis-CI docs quickly.

[2016-02-16 16:27] zbeekman opened #5 "Throw errors and/or don't consume next option when OPTARG missing"
[code]

[2016-02-16 16:29] zbeekman commented on #4
@kvz I couldn't figure out  what's going on. Perhaps this is a non issue? Perhaps re-running the latest Travis-CI build for 7a3a079 will cause it to actually run the tests? Perhaps I miss-led you and we need to move back to legacy or Trusty builds? (I think Trusty builds are faster than legacy.)

[2016-02-16 16:55] kvz commented on #4
Leave the failing build to me, it's expected to fail :)

[2016-02-16 16:56] kvz commented on #4
Oh wait I misread, thought you were mentioning build were failing for your branch. Which is expected until I rerun fixtures for you work. Will look into the container fail

[2016-02-16 16:59] kvz commented on #4
Hm. I don't see a fail based on the container change? https://travis-ci.org/kvz/bash3boilerplate/builds

[2016-02-16 17:27] zbeekman commented on #4
I think it's silently failing, or not running what you want it to run. As I said, I could be misinterpreting the output, of which there is basically none of for this build: https://travis-ci.org/kvz/bash3boilerplate/builds/109619625

Maybe that's expected given what changes happened or didn't happen in https://github.com/kvz/bash3boilerplate/commit/30cfd19fd9d548d87893507e3fd3b9a8e2a916b8

But [he

[2016-02-16 17:52] kvz commented on #4
I see what you mean now, thanks. I tried kicking more builds and the same thing happened. Likely a bug of sorts, but reverted the container infra for now

[2016-02-16 19:50] #1 closed

[2016-02-17 05:05] zbeekman commented on #4
It would be nice to test on OS X too. After a certain amount (more than I'd like to admit) of trial and error I have gotten a .travis.yml together that [seems to be working](https://travis-ci.org/zbeekman/bash3boilerplate/builds/109783030).

*However*, I noticed that when some of the tests were failing, on OS X, due to missing `coreutils`/`gtimeout` and the test scripts were exiting with unexpecte

[2016-02-17 05:24] zbeekman opened #7 "Option flag description spanning more than a single line"
It would be nice to be able to have better control over the usage statement. In particular:
- [ ] Option flag descriptions spanning more than one line
-  ~~More control over general usage statement formatting and content~~
-  ~~Additional, non option text, such as usage examples etc.~~

~~It's possible that the last point is a non-issue, I need to examine the usage text parsing more carefully.~~

[2016-02-17 08:25] kvz commented on #7
Another thing I noticed is that we currently don't:

- [ ] Support dashed long options such as `--no-color`

I'll have to do more thinking about 1 & 2. I think `echo -e` might work yes. As for 3, maybe that's better left to the `help` function.

[2016-02-17 08:27] kvz commented on #4
That's more than I could say for myself :wink:

As you noticed in the PR updates, thanks a lot for your effort. It's impressive to me what you accomplished.

Will close this issue as we have working tests on both Linux & OSX now :tada:

[2016-02-17 08:27] #4 closed

[2016-02-17 13:52] zbeekman commented on #7
oh, really? I can look into that.

I was thinking about the "delete key friendly" nature of the project, and now think that points 2 and 3 are invalid and can be dropped. We're making a template not a library/module. I'm going to cross out those issues.

[2016-02-17 13:58] kvz commented on #7
That would be cool!

I think I agree yes.

[2016-02-20 02:46] zbeekman commented on #7
I have determined a fix for this issue. The problem relates to legal bash variable names. The character set of legal names is restricted to `[a-zA-Z_1-9]` with the further restriction that variable names may not start with a numeral. My proposed fix (PR should be incoming in the next 24 hrs) is to use a name mangling scheme. My proposal is to transform the variables corresponding to options with t

[2016-02-20 04:37] zbeekman commented on #7
I was mistaken about the issue of flags like `-1`. All indirect references using `eval` to create variable names dynamically start with some static text for the variable name. The only issue was the dashes in the long options. I could swear that I had done some testing indicating that options starting with numerals were an issue, but was not able to recreate my findings. Additionally, inspection o

[2016-02-22 15:18] zbeekman opened #10 "Tests can fail silently on OS X Travis-CI image"
See, for example, https://travis-ci.org/kvz/bash3boilerplate/jobs/110544645

[2016-02-23 09:21] kvz commented on #10
Good find :heart:

I was able to reproduce, and later, get a proper fail here: https://travis-ci.org/kvz/bash3boilerplate/jobs/111162915

[2016-02-23 09:23] kvz commented on #10
Fixed in #11. Thanks for reporting!

[2016-02-23 09:23] #10 closed

[2016-02-25 01:17] rouson opened #12 "Broken link in main.sh"
The [second URL](https://github.com/kvz/bash3boilerplate/blob/master/main.sh#L12) listed under "More info" in main.sh appears to be broken.

[2016-02-25 03:29] rouson opened #13 "FAQ or User Guide?"
It would be great to have a FAQ or User Guide describing some common use cases.  I'd like to know how to add a new command-line flag and have spent at least of couple of hours trying so far. Is there an example somewhere?

[2016-02-25 09:19] kvz commented on #13
Hi @rouson thanks for the feedback. I think that would be cool yes. What would be a good way to go about this? You ask a few questions, and I try to answer them in a `FAQ.md`? Or in the readme maybe?

As for the commandline flag, it should be as 'easy' as adding or changing a line [here](https://github.com/kvz/bash3boilerplate/blob/master/main.sh#L54). What was it you were struggling with in parti

[2016-02-25 15:19] kvz commented on #12
Ah yes, I've been upgrading my blog and it seems this url was hurt in the process. I've fixed it now - thanks so much for reporting :+1:

[2016-02-25 15:19] #12 closed

[2016-02-26 06:27] rouson commented on #13
Before saying anything, let me make clear that this is an absolutely fabulous and very welcome addition to the open-source world.  I have already incorporated much of your “main.sh” into a branch of the OpenCoarrays project here.

Yes, I think this is a great approach and the first question is the one given: “How do I add a command-line argument?”  The answer needs to include both the explicit sta

[2016-02-26 06:53] rouson commented on #13
The "here" at the end of the first paragraph above should have been hyperlinked to [here](https://github.com/sourceryinstitute/opencoarrays/blob/caffeinate-opencoarrays/install_prerequisites/install-ofp.sh).  I don't yet know whether the file will survive in anything close to its final form, but feel free to let me know if it looks ok with regard to the reproducing the appropriate license.  We are

[2016-02-26 14:06] zbeekman opened #14 "License main.sh (boiler plate) without attribution requirement?"
Hi @kvz,
First of all I want to say, your project is awesome, and you deserve credit, recognition and attribution for it! :100: However, I am wondering if adopting a [CC0](https://creativecommons.org/about/cc0/) or, IMO less desirable, the [unlicense](http://unlicense.org) might help promote adoption. Since this is intended to be a boiler plate, it is not clear to me, exactly how and under what co

[2016-02-26 14:25] kvz commented on #14
Good point!

I must admit I feel somewhat out of my comfort-zone discussing licenses. From what I know, MIT is something most developers regard as permissive and a no-strings-attached-kind-of-license. Once might argue that due to its popularity, people aren't cautious around the MIT license which might actually increase likelihood of adoption and contribution, vs a lesser known CC0 or maybe even W

[2016-02-26 14:57] zbeekman commented on #14
Me too... they are scary and full of legalese.

The best and most succinct source I have found yet is: http://choosealicense.com/licenses/

Looking here, the only other attractive option is probably CC0 which is a public domain dedication. No one will be required to attribute you in that circumstance, and you do risk the danger that downstream improvements are never contributed. So maybe MIT is th

[2016-02-27 11:05] kvz commented on #14
MIT with an additional permissive clause in the source header comments that the license itself need not be redistributed, but that section does, seems ok to me. It might not hold up in court, but I wasn't planning on dragging anybody in there anyway :) if people decide to not respect it, so be it. But I think most people will, which is good enough.

Would you be okay with making a proposal PR for

[2016-02-27 11:07] kvz commented on #13
Thanks Damien that's very helpful. Would you be willing to open a PR with an initial FAQ section inside the readme? Then we can iterate on it there together, perhaps also with some changes to main.sh, and then merge it when we like it?

Sent from mobile, pardon the brevity.

[2016-03-02 19:05] rouson commented on #13
Done.

[2016-03-03 10:35] kvz commented on #13
Amazing! Let's continue discussing this one (I'd like to credit you as an author) in #15. Will be closing this one then :+1:

[2016-03-03 10:35] #13 closed

[2016-03-08 14:36] rouson opened #16 "New FAQ question: How do I access a potentially unset environment variable?"
I propose the text below as a new FAQ question.  If you agree, please feel free to copy, paste, and edit it or let me know if you want me to branch, commit, and submit a pull request.

How do I access a potentially unset environment variable?
The [set -o nounset](https://github.com/kvz/bash3boilerplate/blob/master/main.sh#L38) line in main.sh causes error termination when an unset environment vari

[2016-03-08 14:51] rouson opened #17 "Style guide?"
My sense is that bash3boilerplate has at least two distinct but related goals: (1) provide some useful code that others might copy, paste, and modify/include and (2) demonstrate best practices.  Toward the latter end, it would be great to have a style guide that explains come of the choices (and any related tradeoffs) employed in bash3boilerplate codes.   Alternatively, style questions could be ad

[2016-03-08 15:12] zbeekman commented on #16
Or use parameter expansion to return a default string (can be null/empty) thereby explicitly acknowledging that the variable is allowed to be empty:

[code]

[2016-03-08 15:40] kvz commented on #16
I personally favor @zbeekman's way of doing it, even though all is correct of course. But in terms of advocating one way to do things, I would like to opt for the the expansion. @rouson would you like to send in a PR for that? Happy to merge

[2016-03-08 15:40] kvz commented on #16
I guess, the answer could still mention `declare` and disabling `set -o nounset` as alternatives

[2016-03-09 14:13] rouson commented on #16
I don't understand @zbeekman's solution.  Zaak, would you submit the PR with more explanation for the uninitiated?

[2016-03-09 14:20] rouson commented on #17
I corrected a couple of typos in my comment above, most notably replacing "single-line" with "single-bracket" in the sentence below item 1.

[2016-03-10 08:10] kvz commented on #17
I like these ideas a lot, but with a few other open source projects and a company to govern, I can't really sink the time into this to do it right. I would be fine adding two more questions and answers to the FAQ about this, but setting up a style guide opens the door to a flood of (real, and) bike shedding discussions, and I fear I would not have the time and energy to see that through - and henc

[2016-03-10 08:12] kvz commented on #17
Actually, the curly braces recommendation would fit perfectly in https://github.com/kvz/bash3boilerplate#best-practices

[2016-03-10 08:13] kvz commented on #17
@rouson would you be interested in becoming a collaborator to this project? Then you can directly create a PR without forking the project, and that also gives us a chance to make small changes to it without needing access to your fork.

[2016-03-10 14:25] rouson commented on #17
Yes, I would love to be a collaborator. For the foreseeable future, my contribute will continue to be on documentation.  I'll continue to pose questions for the FAQ (and suggested answers when I have good guesses at the answers).

You guys know bash programming much better than I do so I probably won't contribute to the actual source code. I'm just soaking up what you've done.  It's greet work. Yo

[2016-03-10 14:55] kvz commented on #17
Great to hear Damian - consider it done!

And all help is appreciated. In fact I think documentation improvements are often more valuable than code updates in this stage.

[2016-03-11 23:42] rouson commented on #16
I (hopefully) have now deciphered ${FOO:-} as conditionally evaluating to $FOO if FOO is unempty and as an empty string otherwise.  In attempting to use @zbeekman's suggestion, however, I'm encountering a strange Heisenbug such that @zbeekman's solution works with one variable (FOO below) but not with another (LD_LIBRARY_PATH below) as demonstrated by the following transcript:
[code]

Any advice?

[2016-03-12 00:19] zbeekman commented on #16
Is that the entire script that was echoed with `cat`? if not could you post the entire script?

[2016-03-12 00:19] zbeekman commented on #16
also sorry for not responding to your comment earlier @rouson, I've been pretty busy

[2016-03-12 00:35] zbeekman commented on #16
@rouson any chance this is the problem: http://superuser.com/a/49724

Try inserting a `/usr/bin/env` into the heisenbug.sh script, and see if LD_LIBRARY_PATH is set (it should be listed in the output of `/usr/bin/env` if it is set) if it's not showing up here, then it's not getting passed to the subshell running the script.

[2016-03-12 01:04] rouson commented on #16
That's definitely the issue.  In fact, I feel like a nincompoop because the very file in which I'm using LD_LIBRARY_PATH contains my prior fix for it [here](https://github.com/sourceryinstitute/opencoarrays/blob/master/install_prerequisites/set_SUDO.sh#L4).

I'm still seeing something a little funky: even when I export and set LD_LIBRARY_PATH  at the command line and then print its value with "ech

[2016-03-17 04:06] zbeekman commented on #7
So to circle back around to the original feature request:

I'm wondering what the best way to do this is. I have two ideas:

 1. Make indentation significant: We could parse a line from the short option through the beginning of the white space preceding the option description (after long options and `[arg]` if present) and note the column at which the description starts. Then when parsing the next

[2016-03-17 04:10] zbeekman commented on #5
perhaps this should be marked won't fix... I'll research what unix tools and similar do in this case

[2016-03-17 10:56] kvz commented on #7
Alternatively we could allow people to add `\n` to their descriptions? Much uglier though I'd have to admit. Can't say I'm comfortable predicting which of the two other routes would be easier to implement. But I do agree this is a nice to have.

[2016-03-17 10:57] kvz commented on #5
Failing hard in this case seems like a good idea. At least when options are defined that is.

[2016-03-29 16:54] zbeekman opened #20 "Defaults don't work when using short options strings"
This may be the same bug as #5 and I think I have found a fix.... but it's possible they are distinct.

`./main.sh -f foo -t` should populate `arg_t` with the value parsed from the usage string default. However, `opt` is set to `?`, the `help` function is called and `getopts` aborts.

As detailed on [this SO post](http://stackoverflow.com/a/14798704/403516) you can actually put `getopts` into sile

[2016-03-29 16:55] zbeekman opened #21 "set -o errexit causes problems if -- option separator missing"
easy fix, just need an `||true`

[2016-04-29 21:41] zbeekman commented on #20
OK, after more investigation, I have determined I might be overthinking things here... I think the behavior is currently correct. Double checking, and will reopen if I find otherwise.

[2016-04-29 21:41] #20 closed

[2016-04-29 22:08] rouson commented on #20
👏 Glad to hear it.  That makes sense because I haven't observed any problematic behaviors recently except on occasion when I deviated from the expected syntax of the usage line. Unfortunately, I didn't write down the details of what those deviations were, but in every case, I was able to edit the line and get behavior that seemed non-problematic to me.

[2016-06-16 15:19] gdevenyi opened #22 "Feature Idea: Parse usage block for "Required." to allow flexible require specification"
Not sure how hard this would be to implement, but parsing the usage block to find the "Required" arguments would eliminate the extra code at line:
https://github.com/kvz/bash3boilerplate/blob/master/main.sh#L234

[2016-06-16 16:14] rouson commented on #22
I have had the same thought.  In fact, I initially assumed that what you propose was already the case and it took me some time to realize otherwise.  I'll tag @zbeekman, who has worked on the parser, in case this is something he can address at some point.

[2016-06-16 17:57] gdevenyi opened #23 "Feature Request: long-form only arguments or multi-letter short arguments"
I'd like to add arguments for some features that have the same starting letter:
--walltime-template
--walltime-subject

Right now, short options are limited to a single letter, so it's not clear how I can expose these.

[2016-06-16 18:54] zbeekman commented on #23
I'm thinking of changing things so that long options are the default/required and short options are optional... in the mean time, you'll have to do something like -w --walltime-template, -W --walltime-subject, or something like -t --walltime-template, -s --walltime-subject

[2016-06-16 18:56] gdevenyi commented on #23
Cool great. I will be using that in the meantime :)

[2016-06-16 19:02] gdevenyi opened #24 "Feature Request: Method for usage parsing to ignore lines"
I'd like to provide some info for the options after "--" in my script.

Ideally, I would do this by writing it in the usage doc, but it gets parsed.

I'd like a way for lines to be ignored by the parser.

[2016-06-16 19:07] gdevenyi opened #25 "--no-color option isn't implemented"
It's there in the examples but the existing color code doesn't check/use it.

[2016-06-16 22:54] adinriv opened #26 "Tilde not parsed correctly on arguments as default"
I'm testing your script and it is really useful. However, I found one problem, not sure if I am using it wrong or it's actually a bug.

When you use a tilde (`~`) in paths, it seems that is converted to something else (although when you print it, it looks OK).

For example, take your main and place a file in home (`~`) and try to access it and all the commands will fail.

[code]

And I set the `re

[2016-06-16 23:23] rouson commented on #26
Have you tried using `"${HOME}"` instead?  The following web page suggests that `~` is a command-line convenience whereas HOME is preferred for scripting purposes:  http://stackoverflow.com/questions/11587343/difference-between-home-and-tilde

[2016-06-16 23:36] adinriv commented on #26
Anything different from `~` works.

The strange thing is that if I pass the same string as parameter (instead of default string) it works. That means that the extraction from "default" is doing something to the string. Not sure what the problem is.

I just wanted to report it, as it may be some issue with handling some "special" characters.

[2016-06-17 00:10] zbeekman commented on #26
AFAICT, there's no special parsing of ~, any anomalies you are seeing are thanks to bash/eval

[2016-06-17 00:22] rouson commented on #26
That's what I suspect too.

[2016-06-17 18:21] gdevenyi opened #27 "Feature Idea: (optional) logging of all informational outputs to file"
A nice optional feature would be the ability to log debug/info/notice/warn/error/critical/alert to file.

[2016-06-19 09:11] kvz commented on #14
I am not a lawyer, but I what do you think about this PR #28 @zbeekman @rouson ?

[2016-06-19 09:13] kvz commented on #22
I think that's a good idea. In terms of implementation, I think we should not use `emergency` as we can't be sure that folks have not deleted that part..

[2016-06-19 09:15] kvz opened #29 "Website"
I had the idea to create a simple website for this under e.g. the bash3boiletplate.sh domain name using GitHub pages. As a first iteration it would render the README.md to HTML so it could serve as a simple single front page. But I feel it would give the project some more substance, what do you think?

[2016-06-19 09:16] kvz commented on #23
💯

[2016-06-19 09:19] kvz commented on #24
Hi @gdevenyi, it is not 100% clear to me what you mean here. Could you perhaps add an example of what you where trying to do? Then we can replicate that locally and see it fail ourselves, that will help get our minds in the right place and see if we want to address it (and if we could, easily).

Disclaimer: the intention of our option parsing is to get the best option parsing that ~<100 ~readable

[2016-06-19 09:21] kvz commented on #25
True, that just serves as an example, but even for example-purposes, I agree it would be helpful if we actually implement that flag. I'll look into it soonish

[2016-06-19 09:26] kvz commented on #26
I think when you use ~ on the command line, it is expanded by bash before passed to the program executing it. If we want to support ~ in the default string, we'd need to expand defaults ourselves. However, in some cases, that might have unwanted consequences. For instance, we don't specify that some options are meant to be filepaths (nor would i want to enforce a type system like that as it would

[2016-06-19 09:31] kvz commented on #27
I'm not a big fan of programs controlling their own logging I/O and in accordance with [Twelve-Factor](http://12factor.net/logs) believe that programs (even small ones) should use std streams for logging, with the exception that scripts outputting information that is supposed to be consumed by the machine via pipes, stderr should be used for logging, and stdout for the information.

This allows th

[2016-06-19 09:31] #27 closed

[2016-06-19 11:06] #25 closed

[2016-06-19 11:14] #26 closed

[2016-06-19 18:29] rouson commented on #14
@kvz

I'm not a lawyer either.  I suggest using a standard license and changing only the contributor information.  Presumably the license was drafted by lawyers and none of us really has any clue about the legal ramifications even though admittedly they are unlikely to be significant in this case. At least according to [this site](http://www.dwheeler.com/essays/floss-license-slide.html), the MIT l

[2016-06-20 13:40] gdevenyi commented on #27
Okay, makes sense, I'll implement this on my own for my program. Thanks.

[2016-06-20 18:48] gdevenyi commented on #24
Hi, sorry I see I wasn't terribly clear.

I'd like a clear way for the usage parser to "stop parsing lines", so I can include a block of text:

[code]
I just want to make sure that my block of text doesn't get "parsed"

[2016-06-21 06:50] kvz commented on #24
Ah thanks for the clarification. I think the right place to add such longer descriptions would be to have a separate block of text added here https://github.com/kvz/bash3boilerplate/blob/master/main.sh#L114. Either via a `description` variable that you set along with `usage`, or by directly inlining it in the `help` function with an `echo`. This would preserve visual vertical alignment in the help

[2016-06-21 09:31] rouson commented on #29
FYI, I set up the initial version of the [web page](http://sourceryinstitute.github.io/PAW/) for an upcoming workshop using GitHub pages.  I volunteered for this partly as an exercise to learn GitHub pages.  I found the process to be quick, and I was pleased with the result. I used the [Jekyll](https://help.github.com/articles/about-github-pages-and-jekyll/) static page generator recommended by @z

[2016-06-21 09:40] kvz commented on #29
Excellent! I'll re-open this issues so we can discuss a bit more, but I'm already quite far, just waiting on the bash3boilerplate.sh domain to clear but it will look a little like this:

https://dl.dropboxusercontent.com/u/343579/screencapture-localhost-3000-1466502011411.png

[2016-06-21 09:43] kvz commented on #29
That site looks good btw!

[2016-06-21 09:57] kvz commented on #29
Would [this](https://github.com/kvz/bash3boilerplate/pull/31/commits/2d25f6b0dcd25c6edadd327ad22c5fa5707819ca) be correct, and okay to do @gdevenyi @zbeekman @rouson?

[2016-06-21 10:19] rouson commented on #24
I've had the same thought, but didn't think of the proposed solution.  Adding a comment above the help function to suggest this approach and explain the rationale to users would be helpful.

[2016-06-21 10:22] kvz commented on #24
Sounds good, I'll add that

[2016-06-21 10:31] kvz commented on #24
Please check the above commit. The end result is like this now:

![screen shot 2016-06-21 at 12 29 24](https://cloud.githubusercontent.com/assets/26752/16226490/f1936e00-37ab-11e6-9a9a-84805951f2df.png)

@gdevenyi does that seem like an okay solution for you?

[2016-06-21 13:48] gdevenyi commented on #24
That's awesome. Makes far more sense than what I was asking :)

[2016-06-21 13:48] #24 closed

[2016-06-21 13:51] gdevenyi commented on #29
Close, I'd rather have http://cobralab.ca/ thanks!

[2016-06-21 13:52] gdevenyi commented on #21
Resolved? I don't have issues with this.

[2016-06-21 14:10] zbeekman commented on #21
Sorry, no, not resolved yet: https://github.com/kvz/bash3boilerplate/blob/master/main.sh#L195

This should cause problems, but it's possible that theres an error in the test conditional that's causing it to evaluate to true in certain instances... It's a super simple fix though...

[2016-06-21 14:13] kvz commented on #29
Fixed in 8e9814b

[2016-06-21 14:34] gdevenyi commented on #7
While I'm into this addition, I'm agnostic to the implementation, anything will work for me.

[2016-06-21 15:52] kvz commented on #29
Hey, I just got word the http://bash3boilerplate.sh domain is live now

[2016-06-21 16:09] zbeekman commented on #29
Very nice! Subtitle font is a bit small on my machine, but it looks great!

[2016-06-21 19:56] skanga opened #32 "Git bash on Windows"
The __os variable is set incorrectly on Windows (using git bash). Recommend adding this to the boilerplate.

if [[ "${OSTYPE:-}" == "msys"* ]]; then
  __os="Windows"
fi

[2016-06-22 07:45] kvz commented on #32
Hey thanks for this! I can't say I could test this easily myself so I'm sailing on your input, but if there are edge cases around this, I guess the best way to make them surface is to add this to master with a note, and get a conversation going 👍  Thanks again @skanga!

[2016-06-22 07:47] kvz commented on #32
For reference: https://git-for-windows.github.io/

[2016-06-22 07:50] kvz commented on #32
I guess this does not cover the case of [Bash on Ubuntu on Windows](https://msdn.microsoft.com/en-us/commandline/wsl/about) yet - but I also think it might be hurtful to have OS say "Windows" when for all practical purposes it operates on Ubuntu Linux. So I'm inclined to saying we should not cover that case.

This does bring the question if, for all practical purposes, you are also not running on

[2016-06-22 15:49] kvz commented on #29
Thanks @zbeekman! I'll see if I can improve the logo. Also wanted to share that we are a trending repo on github today:

![](https://dl.dropboxusercontent.com/s/kxb76legsklvt8y/2016-06-22%20at%2017.48.png)

[2016-06-22 15:52] kvz commented on #29
I see we're also doing okay on /r/programming:

![](https://dl.dropboxusercontent.com/s/0affge84fvdon07/2016-06-22%20at%2017.51.png)

[2016-06-22 16:52] kvz opened #33 "Consider using `[[` by default"
As Browsing_From_Work mentioned on https://www.reddit.com/r/programming/comments/4parog/bash3_boilerplate_template_for_writing_better/d4ji2yh there are some good arguments for it. For convenience, the comment also points to [this page](http://mywiki.wooledge.org/BashGuide/TestsAndConditionals#Conditional_Blocks_.28if.2C_test_and_.5B.5B.29).

I see a lot of pros, and only a possible con that we _mi

[2016-06-22 17:56] zbeekman commented on #33
yep, sounds good... I also think we can get rid of all awk/sed and use Bash parameter expansion: http://wiki.bash-hackers.org/syntax/pe#search_and_replace

[2016-06-22 17:56] zbeekman commented on #29
Very nice!

[2016-06-22 17:59] kvz commented on #33
Agreed! We do need to be mindful of our Bash 3 limitation however, I noticed a few of the things on that page are >=4

[2016-06-22 18:00] gdevenyi commented on #33
+1 on this. I exclusively use [[ so that I can use more sensible programmatic syntaxes for comparisons.

[2016-06-22 18:16] kvz opened #34 "Feedback by galaktos"
We received [feedback by galaktos](https://www.reddit.com/r/bash/comments/4pbnd8/bash3_boilerplate_template_for_writing_better/) let's put it to good use!

- [x] Unquoted variable access within [ tests… bad idea.

- [x] Except that what you’ve just written has nothing to do with Bash – [ is an external program (the builtin is [[). And the [ a = b ] syntax is specified in POSIX, so I’d be surprised

[2016-06-22 18:21] kvz opened #35 "Adopt Shellcheck"
As [mhurron mentions](https://www.reddit.com/r/sysadmin/comments/4pc4wu/bash3_boilerplate_template_for_writing_better/), it might be a good idea to adopt / advise on linting

[2016-06-22 18:21] zbeekman commented on #34
Yes, and [shellcheck](http://www.shellcheck.net) will flag most of this stuff... it's been on my to do list for a while... We should add shellcheck linting to the Travis-CI test suite.

[2016-06-22 18:21] zbeekman commented on #35
Yes as I mentioned on the other issues, this has been on my todo list for quite some time...

[2016-06-22 18:23] zbeekman commented on #33
Which? I think /pattern/replacement is bash 3, no?

[2016-06-22 18:28] kvz commented on #33
Should be good that page mentions substring expansion with a negative length value and case modification are Bash 4 and up, but your use case should be good. And at any rate, we have Travis testing against OSX with Bash 3 thanks to you, so I should not have brought this up 😄

[2016-06-22 18:47] kvz commented on #34
I believe I addressed all issues in this ticket. Except for

 - `[[` which will be handled in #33, and
 - the shellcheck recommendation, which will be handled in #35

galaktos if you are reading this and would like to be credit differently for your feedback, please re-open this issue and let us know! Thanks for making b3bp better!

[2016-06-22 18:47] #34 closed

[2016-06-22 18:52] kvz commented on #35
@zbeekman How would you feel about me taking on this one, and you #33? Please let me know if you have the time though, if not I'll find some time to attack both.

[2016-06-22 19:30] zbeekman commented on #35
sure... this one is probably harder/more time consuming than #33.... I can't install spellcheck on the container based infra, so you may have to do OS X only shellcheck

[2016-06-22 19:35] kvz commented on #35
Alright, I'll figure something out :+1: I think this issue consists of:

- [ ] Figure out desired shellcheck config
- [ ] Apply it to our codebase
- [ ] Add shellcheck to travis to prevent us from merging bad syntax
- [ ] Add a recommendation to README.md / website

[2016-06-22 20:09] zbeekman commented on #35
Yeah that sounds about right... as far as config goes... I always just use inline comments to disable stuff I know is irrelevant. For example, shellcheck complains about variables like `arg_v` being used before they are defined, however, the parser defines them via some tricky eval logic, so this is a red herring that can be silenced as needed with `#shellcheck disable=SC....` I think the policy s

[2016-06-23 07:12] kvz opened #37 "Consider using `((` for int and math expressions"
As [Vaphell suggests](https://www.reddit.com/r/programming/comments/4parog/bash3_boilerplate_template_for_writing_better/d4kcs6q):

Perhaps we have use cases already where we want to apply this, if not a deciding on one form and adding that to the README/website would be nice

[2016-06-23 08:48] moviuro opened #38 "OS detection is wrong"
You can't just assume `__os="Linux"` (https://github.com/kvz/bash3boilerplate/blob/1f2e1842b3c7158b291563fbb7626ee14a7ee1e5/main.sh#L29)

Suggestion: use `uname(1)` instead.

[2016-06-23 08:52] kvz commented on #38
Thanks for the feedback @moviuro! As [replied on reddit](https://www.reddit.com/r/bash/comments/4pbnd8/bash3_boilerplate_template_for_writing_better/d4kki17), We're testing against the different platforms automatically via Travis CI and it seems we can get away without running any commands, which we felt was better. Are there clear disadvantages to the chosen route you feel?

[2016-06-23 08:53] moviuro commented on #38
Yes, `main.sh` wouldn't run correctly on BSD systems, which are not Linux.

[2016-06-23 09:04] kvz commented on #38
That makes sense. Ideally I'd like to try if we can keep using `OSTYPE` while also supporting BSD flavors. I read that freebsd could be supported via `elif [[ "$OSTYPE" == "freebsd"* ]]; then`, would you happen to know about other BSD variants?

I think I'd like to dumb down the `__os` variable to main families, and avoid imposing onto the end user that they'd have to check for DragonFly, OpenBSD,

[2016-06-23 09:15] kvz commented on #38
Seems like we won't be able to have automated tests for FreeBSD for a while unfortunately https://github.com/travis-ci/travis-ci/issues/1818

[2016-06-23 09:17] kvz commented on #38
I've had my fair share of problems switching my workstation from ubuntu -> osx which also doesn't come with my beloved gnu sed :'(. We even have to do this sed dance to have something portable across those platforms: https://github.com/kvz/bash3boilerplate/blob/master/src/templater.sh#L41 while it might have been easier to not make any backups at all. vs doing it and then removing :)

It's just th

[2016-06-23 09:20] moviuro commented on #38
Sounds good. However, there are still differences between OpenBSD and FreeBSD (I wouldn't know for NetBSD as I haven't used it that much yet).

Here's another idea:

* `__os` could be specific (ArchLinux, Mint, Ubuntu, FreeBSD)
* A new variable `__os_family` could be more generic (BSD, GNU/Linux, Windows)

[2016-06-23 09:26] kvz commented on #38
Yes. And of course there are plenty of differences between CentOS and Debian or instance. E.g. what package manager to use or the other things I mentioned like startup services. However, those even vary between Ubuntu releases (going from init.d -> upstart -> systemd). So you'd really need all the information, even the OS version if you're going to code around those parts. I'm not sure if b3bp sho

[2016-06-23 09:55] kvz commented on #38
For reference, if we want to introduce `__os_family`, it would probably be more correct if BSD where under Unix https://en.wikipedia.org/wiki/Category:Operating_system_families

[2016-06-23 11:45] kvz commented on #29
Now trending across all languages: https://github.com/trending albeit at the very bottom :)

[2016-06-23 13:11] kvz commented on #38
@moviuro You see how in trying to be correct and supporting all cases, we quickly become bloated and all about os detection, whereas our purpose is more generic. I made a proposal more inclined to the pragmatic side, keeping an eye on the compatness of b3bp in in https://github.com/kvz/bash3boilerplate/pull/39. I think we should cherish this compactness. There are plenty of complete os detection l

[2016-06-23 13:48] zbeekman commented on #38
Another idea is just get rid of the __os magic variable... AFAICT, we don't need it anywhere, so the user could be left to deal with the OS detection if they require it...

[2016-06-23 13:53] moviuro commented on #38
@kvz works for me :+1:

[2016-06-23 14:20] kvz commented on #38
@zbeekman I do use it myself in places though, mostly to formulate urls to download appropriate static packages. I'd like to keep this via #39 for now, unless you feel strongly about ditching. Then please feel free to re-open this thread to have a bit more of a discussion about it.

[2016-06-23 14:22] kvz commented on #38
I guess, alternatively, we could decide to do a monster project for detecting OS the right way, and put that as a separate function in `./src` (and remove it from main.sh indeed)

[2016-06-23 14:39] zbeekman commented on #38
I'm of the opinion that it is beyond the scope of `main.sh` because client code will have a better understanding of the context in which it is running, and OS type/detection is beyond just pure Bash3... I feel like it's better to do it "right" or leave it to client code... but I'm more than happy to defer to your judgment.

At the end of the day, anyone who needs a really precise and accurate OS d

[2016-06-23 14:40] zbeekman commented on #38
Yes this is very true... sed and friends can have very subtle annoying differences across OSes... I'm going to work to remove any reliance on sed and awk, etc.

[2016-06-23 19:44] kvz commented on #38
As @zbeekman mentioned, we might want to add cygwin and such https://github.com/kvz/bash3boilerplate/pull/39#issuecomment-228072878

so reopening this issue

[2016-06-23 21:00] gdevenyi commented on #37
Another reason to use (( is that an expr syntax is an external system call

https://bashingbaru.blogspot.ca/2011/12/bash-performance-of-let-vs-expr-vs.html

[2016-06-23 21:04] gdevenyi opened #40 "Possibly steal ideas from another template"
https://github.com/livibetter-backup/template.sh/blob/master/template.sh

[2016-06-24 08:27] kvz commented on #38
Going over this thread again after a good night's sleep, @zbeekman's arguments resonate more than they did yesterday, I think I had a bit of a hard time letting go of this darling because I had a personal use for it, but that's a really bad reason to keep it in a project used by many. I'll work around this on my end, let's remove it. Sorry for changing my mind like this in just a day, I realize it

[2016-06-24 08:42] kvz commented on #38
Up for review https://github.com/kvz/bash3boilerplate/pull/41

[2016-06-24 08:48] kvz commented on #40
Interesting. Anything in particular that you would like to see in b3bp though?

[2016-06-24 09:13] kvz commented on #14
Hey @rouson I thought I replied to you on this one but perhaps I closed a tab before submitting! We now have a plain MIT license as to not scare anyone away. Even though my changes were meant to be more permissive, folks will be suspicious about changes and rightfully so. The website however now does add a permissive clause beyond MIT over at http://bash3boilerplate.sh/#license, allowing you to no

[2016-06-24 09:27] kvz commented on #16
@rouson Ah, I think I see the problem here now, there has been a little misunderstanding. When `:-` is used, you have to use it _every_ time when accessing something that's possibly undefined, while your question was about defining undefined variables. Some code to illustrate:

[code]

This subject is briefly touched on as well in the recently added Safety and Portability section under point 5. b3

[2016-06-24 09:33] kvz commented on #16
How would you feel about adding #42 to address this? Maybe it can be worded better?

[2016-06-24 09:37] kvz commented on #17
Once we implement #35, a lot of these style decisions will have been made for us already. Which I regard a good thing.

Until that time we have already listed style conventions in the recently added Coding Style section under https://github.com/kvz/bash3boilerplate#coding-style, which I think we can also use to write down exceptions / additions beyond what ShellCheck will offer (still need to do t

[2016-06-24 09:37] #17 closed

[2016-06-24 09:39] kvz commented on #32
This has been added in https://github.com/kvz/bash3boilerplate/commit/818d7c81c7752618d47fd4f0d0cac52b5757dd35 so I'll be closing this issue.

One thing I should point out though, is that there's also a proposal to remove OS detection completely in https://github.com/kvz/bash3boilerplate/pull/41, but this does also offer suggestions in the FAQ which includes your use case.

Closing this for now, b

[2016-06-24 09:39] #32 closed

[2016-06-24 11:07] zbeekman commented on #38
PR LGTM. If it just comes down to parsing `$OSTYPE` I don't think we're adding much value.

I think it might be wise to add a comment to main.sh about the existence of `$OSTYPE` in Bash, which I personally was unaware of until b3bp and how it may be useful.

[2016-06-24 11:11] zbeekman commented on #38
L12 handles making the user aware of `OSTYPE`, I say :ship: it :smile:

[2016-06-24 11:12] #38 closed

[2016-06-24 13:58] gdevenyi commented on #40
Oops, I thought they had a different usage parser but they don't have one at all. Nevermind I guess :-)

[2016-06-24 14:01] kvz commented on #40
Alright closing this then :)

[2016-06-24 14:01] #40 closed

[2016-06-25 05:51] rouson commented on #29
:clap:

[2016-06-25 14:03] #29 closed

[2016-06-29 15:38] zbeekman opened #44 "optional error trapping"
Allow debug info with line number and function name when ERR signal is raised:
1. http://unix.stackexchange.com/a/39660/84740
2. http://stackoverflow.com/a/25380229/403516

[2016-06-29 15:39] zbeekman opened #45 "Magic variable to detect if script is being sourced"
[code]

[2016-06-29 21:44] zbeekman commented on #44
[code]

[2016-06-30 20:57] gdevenyi commented on #44
This would be amazing for debugging.

[2016-07-01 06:35] kvz commented on #44
💯

I would like to brace all variables, and maybe switch this on when the debug flag is set in the main.sh example indeed. What do you think?

[2016-07-01 06:41] kvz commented on #45
Unsure about this one. Two concerns

 - The use of true/false is something we haven't standardize on, so far we're mostly checking strings (e.g. `= "1"` for safety precautions. It's something we could change but we'd have to document it.
 - Seems like a better name for `__being_sourced` could exist it should also be braced. Perhaps it could be negated to say `__main_script` or `__is_parent` or sim

[2016-07-03 21:48] rouson commented on #45
FWIW, I much prefer true/false to 0/1.  In my uses of bash3boilerplate. It's more communicative.  The 0/1 choice probably feels natural for those who primarily program in C and its successors.  For those whose primary language uses something other than integers for boolean values, true/false can be interpreted more quickly.  I always have to stop and remind myself whether 0 is true and 1 is false

[2016-07-04 18:56] gdevenyi commented on #44
I don't see why this can't be enabled all the time?

If a command I run throws an error code, it seems like it would be ideal if the script would stop and tell me where it died. Otherwise I have to run again (if I can, what if it's an intermittent error?) with debugging.

[2016-07-06 10:36] kvz opened #46 "Add a while loop that iterates over newlines, vs any whitespace"
e.g.

[code]

[2016-07-06 22:00] zbeekman commented on #44
The current implementation essentially enforces `set -o errexit`. People
may not want that to be the default behavior. Also, those who have used
sloppier coding styles but are moving to b3bp may not want to announce to
their user base what a crap job they have done.

In general, however, I agree with you and think that this IS best practice.
When compiling a compiled C/C++/Fortran code I always en

[2016-07-07 06:45] kvz commented on #44
I agree this should be part of b3bp, we should label it BREAKING in the CHANGELOG.md, and leave a note in the source. Then users are free to use the delete key on it, but we'll have established a good practice for starting new scripts, which is the main purpose of b3bp

[2016-07-21 17:51] zbeekman commented on #46
I'm not sure I understand where/why you want to add this. Just as an example, or to enhance the functionality of some part of b3bp?

[2016-07-22 07:11] kvz commented on #46
Sorry that wasn't clear! I was thinking to put it at the bottom where we also fire the log functions, as an example, and easy to copy-paste bit right in the main template. What do you think?

[2016-07-29 13:39] zbeekman commented on #44
No progress on my end... underwater at work atm...

On Fri, Jul 29, 2016 at 9:25 AM Gabriel A. Devenyi <notifications@github.com>
wrote:

[2016-07-29 13:45] gdevenyi commented on #44
Okay, I'm going to do some testing and if I get it working, expect a PR.

[2016-07-29 17:44] gdevenyi opened #47 "Add CTRL-C trapping"
We can trap CTRL-C and call a function in bash:
https://rimuhosting.com/knowledgebase/linux/misc/trapping-ctrl-c-in-bash

[code]

I don't have a use case right now, but it's definitely helpful to allow graceful cleanup of an interrupted script.

[2016-08-09 07:58] kvz commented on #47
Nice find @gdevenyi

Do you happen to know though if our current trap is not called when you press CTRL-C? That would make this more urgent. Otherwise we need to come up with a few use-cases where this offers added benefit over our current trap. Like: when would it be valuable to distinct between exit and exit by CTRL-C, and is this big enough a use-case to justify adding its weight to `main.sh`.

[2016-08-09 13:29] gdevenyi commented on #47
The current trap of EXIT works properly when CTRL-C is pressed, it just might make sense to allow separate trapping.

Indeed I'm okay with a mention in the FAQ instead

[2016-08-16 20:49] gdevenyi opened #48 "Long-form invalid arguments aren't caught"
Example:
[code]

User tried to do:
[code]

There was no error thrown for the invalid command-line option "--template"

[2016-08-17 10:17] kvz commented on #48
Throwing on that would have to be opt-in I feel, as I could imagine use cases where the argument is unknown / passed on to something else

[2016-08-18 01:47] gdevenyi commented on #48
Sure, I'm okay with that, just not what I expected from default parsers in other languages.

[2016-08-19 23:32] zbeekman commented on #48
Yes, I think Open coarrays build script passed arguments to other scripts, only some of which are actually consumed. Been meaning to add an opt-in check for invalid flags.

[2016-10-04 00:08] akoerner opened #51 "Exiting only on "emergency""
Is it intended that only an "emergency"  causes an exit?
I would expect anything above critical should immediately exit.
From the docs:
"Safe by default (break on error, pipefail, etc.)"

[2016-11-01 11:50] kvz opened #52 "Consider BATS"
https://github.com/sstephenson/bats

We should consider recommending this in best practices, as well as using it for our own tests

[2016-11-08 21:08] mstreuhofer commented on #46
seems to me that this issue is fixed with #57

[2016-11-08 21:25] mstreuhofer commented on #16
another issue solved.

[2016-11-08 21:27] mstreuhofer commented on #14
seems to me this issue can be closed now.

[2016-11-08 21:35] #14 closed

[2016-11-08 21:36] #16 closed

[2016-11-09 08:59] kvz commented on #46
I guess people can take this type of loop straight out of `__b3bp_log` now, yes. Will close it this issue then :+1:

[2016-11-09 08:59] #46 closed

[2016-11-09 14:42] gdevenyi commented on #37
Fixed.

[2016-11-09 16:12] zbeekman commented on #37
Yes, I think this can be closed, I don't see any `expr`s in the source

[2016-11-09 22:36] mstreuhofer commented on #7
can somebody explain to me what the issue is? I'm reading these comments for the 5th time and I  still don't get it. Method 1 is working already. It's the job of the user to align the __usage so it looks fine. How does b3bp need to know or understand anything about indentation or not?

maybe I don't understand the issue because it refers to a much older version of the code and it can be closed by

[2016-11-10 02:27] zbeekman commented on #7
You could always use a here doc---theres syntax to strip leading
indentation and also to keep it (<<- vs <<)

On Wed, Nov 9, 2016 at 5:40 PM Gabriel A. Devenyi <notifications@github.com>
wrote:

[2016-11-10 12:05] #37 closed

[2016-11-10 12:22] zbeekman commented on #7
Sorry, my last comment was made on mobile in a hurry without a full understanding of @mstreuhofer'S question.

I think the outstanding issue is that the usage statement parser expects one option/switch per line. The outstanding work is to allow the descriptions of any given flag/switch to cover multiple lines. I don't believe this has been implemented but I could be wrong. I hope this clarifies th

[2016-11-18 14:45] #7 closed

[2016-11-18 14:47] zbeekman commented on #7
Thanks for your contribution @mstreuhofer 🎉

[2016-12-01 16:39] mstreuhofer opened #69 "using color (or not) depending on `-t 1` seems wrong"
https://github.com/kvz/bash3boilerplate/blob/9b739b4cf0c0c9f5454f7889e2417b258b1072dc/main.sh#L78

The line

[code]

seems to be wrong really in at least 2 different ways.

1) It checks STDOUT to be connected to a terminal while logging happens on STDERR only.
2) It turns OFF colors if STDOUT is actually connected to a terminal.

I'm guessing here but a quick check seems to suggest that nobody not

[2016-12-02 10:46] kvz commented on #69
I think you just caught a stupid mistake by me @mstreuhofer - so kudos to you 👍

[2016-12-05 17:37] #69 closed

[2016-12-08 21:51] zbeekman commented on #51
idc tbh

[2016-12-08 22:05] zbeekman commented on #21
Really the best solution is probably a one line `if`... Although, perhaps errexit is off in that portion of the code right now... either way it would be good practice.

[2016-12-08 22:06] zbeekman commented on #33
Handled by @mstreuhofer, bravo! :bow: 💯

[2016-12-08 22:12] zbeekman commented on #33
When implementing this, here are the features and differences. Nothing that will bite us jumps out at me... http://mywiki.wooledge.org/BashGuide/TestsAndConditionals#Conditional_Blocks_.28if.2C_test_and_.5B.5B.29

[2016-12-08 22:19] zbeekman opened #74 "Update CHANGELOG.md :frowning:"
maybe we should add PR templates to remind people...

[2016-12-08 23:04] mstreuhofer commented on #51
"safe by default" means that common errors and sloppy code are caught and not ignored, not that it exits in situations where the programmer can decide to exit or not. i for one use critical to point out something ugly, not to exit. if i wanted that i would type `exit` right after the call to `critical`.

[2016-12-09 09:30] kvz commented on #51
Alright, that makes sense, closing this one then

[2016-12-09 09:30] #51 closed

[2016-12-09 09:42] kvz commented on #74
💯

[2016-12-09 09:46] kvz opened #75 "Update npm modules"

[2016-12-09 10:20] kvz commented on #75
🚨  CAUTION @mstreuhofer @zbeekman: I made a mistake in a commit and amended it and force pushed. I was positive I had pulled first, but now I see the latest commit in master from before that is 4 days old. That seems wrong to me given the merges I've seen in that last few days.

If you have more recent commits, could either of you please NOT PULL, but force push your own repo to GitHub? Don't worr

[2016-12-09 10:22] kvz commented on #75
For reference, my changes were only in `package.json`. Once we make sure we have the recent work online here again, I'll re-apply this file and we're on our way. I'm very sorry about this!

[code]

[2016-12-09 14:55] zbeekman commented on #75
gah! No worries.... I do stuff like this more frequently than I'd care to admit. Perhaps we should setup protected branches to prevent forced pushes to master in the future?

I don't think I ever pulled master in the past few days, BUT hopefully @mstreuhofer has not deleted his branches, so I can go raid them and, if needed, reopen a PR to reproduce the latest work...

[2016-12-09 14:57] zbeekman commented on #75
JACKPOT! Saved by #73 and my insistence that @mstreuhofer rebase onto master... lol, laziness FTW! I'll force push master back to where it was if that's cool with you, @kvz

[2016-12-09 15:11] zbeekman commented on #75
@kvz fixed

[2016-12-09 20:25] #22 closed

[2016-12-09 20:26] zbeekman commented on #22
Thanks @mstreuhofer :bow:

[2016-12-12 14:24] kvz commented on #75
Much obliged! ❤️  Sorry again for the mess. I should have followed the PR route like anyone else. I was short on time and got reckless. I'll protect master against force pushes like you said to save me from myself from now on 👍 😄

[2016-12-12 14:31] kvz commented on #75
![screen shot 2016-12-12 at 15 31 35](https://cloud.githubusercontent.com/assets/26752/21102823/16009490-c080-11e6-8045-0ec971180f19.png)

Howe about this?

The saga continues in #78 btw

[2016-12-12 14:32] #75 closed

[2016-12-12 16:43] zbeekman commented on #75
I'm not sure but the github/pages status check is, but if you want to enforce status checks pass, then you should also check the continuous-integration/travis-ci box. Also, I typically turn on the "include administrators" for the status checks. If for some reason you find it to be annoying you can always go disable it... There may even be a way if you're the repo owner to still merge even with fai

[2016-12-14 08:54] #33 closed

[2016-12-14 08:56] kvz commented on #75
Good points! Implemented all of them

[2016-12-15 11:57] #35 closed

[2016-12-15 18:45] mstreuhofer opened #79 "Cleanup all *.sh following shellcheck advice"
This is a follow-up to Issue #35

[2016-12-16 07:18] #79 closed

[2016-12-21 08:29] #74 closed

[2016-12-21 19:01] mstreuhofer opened #84 "better style guide checking (properly parse bash vs regex-hit-and-miss)"
See discussion in PR #81

[2017-02-09 21:17] gdevenyi commented on #23
Been a while here, wondering if any progress or interest in implementing this?

[2017-02-09 21:18] zbeekman commented on #44
I'm not quite sure how this is breaking. I might be missing something, but errexit aborts on an error anyway, right? So how is this creating backwards compatibility? I'm working on this now, expect a PR soon

[2017-02-09 21:19] zbeekman commented on #23
no... working on backtrace first... not sure if I'll get to this anytime soon

[2017-02-09 22:14] zbeekman commented on #44
OK, for now I have it off by default unless `-d` (debugging) is turned on. I think it should be on by default, but I'll defer to @kvz

[2017-02-09 22:22] gdevenyi commented on #44
Amazing!

[2017-02-10 14:01] kvz commented on #44
There might have been a parser the other end of this script, now getting different output thrown at it. If we hide that in a patch-level-no-warnings-upgrade, things might break.

I did say I'd like this as a default, just that the CHANGELOG should mention it BREAKING

[2017-02-10 14:03] #47 closed

[2017-02-10 14:03] #21 closed

[2017-02-10 14:03] #44 closed

[2017-02-10 14:03] #45 closed

[2017-02-10 14:31] zbeekman commented on #44
well right now, it is only enabled if the debugging flag is thrown... I can submit a PR to make it on my default and then add a note in the CHANGELOG.

Also, I saw another place where there were some `[[ ... ]] && ...`  expressions which could trigger errexit that should probably be changed to if statements

[2017-02-10 14:58] zbeekman commented on #84
Some potentially helpful links:
 - https://github.com/vorpaljs/bash-parser

[2017-02-21 20:11] gdevenyi opened #88 "Default "on" for flags?"
I see examples for setting defaults for arguments with options, what about arguments without options?

[2017-02-21 20:35] zbeekman commented on #88
If you pass it, it's on, if you don't it's off.... I don't get what you're asking

[2017-02-21 20:47] gdevenyi commented on #88
I can define a argument like this:
[code]

In which case it takes a default value.

Is it possible to default "enable" a flag and perhaps offer a "no" option to turn it off?

[2017-02-21 21:03] mstreuhofer commented on #88
what stops you from assuming yes/on in your code and having a flag like this

[code]

your code would then do something like

[code]

[2017-02-21 21:14] zbeekman commented on #88
I still don't get it... Instead of `--my-flag # off by default`  you can just negate it `--not-my-flag # feature on by default` How do you propose the parsing block would look, and what advantage use-case would there be over just creating a negated flag to be on by default?

[2017-02-21 21:18] gdevenyi commented on #88
I'm dumb @mstreuhofer's solution is exactly what I should be doing.

Sorry.

[2017-02-21 21:18] #88 closed

[2017-02-21 21:26] zbeekman commented on #88
no worries, I either already opened this request, or very nearly opened it before realizing that it's more or less a noop

[2017-02-22 09:16] kvz commented on #88
Perhaps we can add this usecase to the FAQ or even right in main.sh, so
that it's more apparent - what you do you all think?

[2017-03-31 16:53] mstreuhofer commented on #84
what about shfmt (https://github.com/mvdan/sh) ?
it seems to be opinionated as in there is no way to influence the acceptable style but at least it is readily available in homebrew

[2017-04-03 11:06] kvz commented on #84
Looks promising at first glance, have you ran it against any code?

[2017-04-03 15:33] mstreuhofer commented on #84
yes. strangely it wants to change all `if [[ $var = "x" ]]` to `if [[ $var == "x" ]]`. Other than that it just removes some empty lines.

[2017-06-28 02:19] QwertyZW opened #90 "Configuration files"
## This is a feature request. ##

Having the script automatically parse some sort of configuration file (json,xml,yaml,bash) that dictates default values for its arguements would nice.

## Why not just use default parameters? ##

Assume a case where the scripts are written for a multitude of runtimes (say for e.g; servers) and the default parameters are meant to be different for each runtime.

[2017-06-28 07:11] kvz commented on #90
You could likely do sth like:

`config.env.sh`:

[code]

`program.sh`:

[code]

or no?

[2017-06-28 12:34] zbeekman commented on #90
TL;DR;
Perhaps not AS elegant as a config file, but since you can specify defaults in usage string, you can add some logic [here](https://github.com/kvz/bash3boilerplate/blob/master/main.sh#L137-L146) that instead of using a here-doc just reads `__usage` in from a file. That way you can separate the list of arguments and their defaults from the script itself. You could even read in multiple files,

[2017-07-07 03:18] QwertyZW commented on #90
@kvz that's for environment variables, how you would use that approach for default parameter values? By the way thank you for the B3BP

@zbeekman Thank you for the detailed response! I think specifying arguements in a different file for the sake of modularity is brilliant but I'm not sure about doing that for the sake of having default arguements for different environments because now we need to w

[2017-07-07 11:48] zbeekman commented on #90
In your ideal world, how would you want to specify the defaults for your
use case?

On Thu, Jul 6, 2017 at 11:18 PM QwertyZW <notifications@github.com> wrote:

[2017-07-07 14:25] QwertyZW commented on #90
@zbeekman maybe I was unclear when I said default arguments.

So let's say we have our `script.sh`

It takes 1 switch `-s` and 1 long option `--long-opt=<value>`

Those arguments are key to what the script does and this script will accept these arguments no matter where it goes, those arguments are also tied to the version of the script such that for example version n doesn't support `--long-opt`

[2017-07-07 14:30] QwertyZW commented on #90
In my ideal world I would have script.sh.env1.defaults on env1 and script.sh.env2.defaults on env2

Such that every time someone does ./script.sh on env1 --long-opt is automatically assigned env1 if it isn't specified explicitly to be something else

[2017-07-07 14:38] QwertyZW commented on #90
`script.sh.defaults` on both env1 and env2 just to clarify because the script will read the .defaults  by default

(No comment edit button on a small screen)

[2017-07-07 20:06] zbeekman commented on #90
@QwertyZW I think I'm following you so far... the intent of my last question, is: "In an ideal world, how would you want to specify/control the defaults on each environment? With local environment variables?With some extra script that gets sourced at the beginning of the file?"

For example, if you want to pick up the environment variable `my_dir` or source an additional file where `my_dir` is def

[2017-08-08 09:56] morbeo opened #91 "Redeclaring colors in b3bp_log function"
I noticed that the logging colors are defined in the [**__b3bp_log** function](https://github.com/kvz/bash3boilerplate/blob/master/main.sh#L64-L84) and that they are set **every time** the function is called. Highly unlikely it have a noticeable impact on performance, but debugging stuff is terrible with the overhead. Is it necessary to redeclare them on each call? Of course I can move them outsid

[2017-08-08 13:20] zbeekman commented on #91
By declaring them this way, they do not pollute the global variables. Sometimes b3bp may be sourced rather than called directly, so it can be nice to encapsulate this data within a function and provide some data hiding.

How are you debugging? Are you using `set -o xtrace` (AKA `set -x`) or are you sprinkling `info` calls etc throughout your code? Have you confirmed that it is indeed the setting o

[2017-08-08 13:33] zbeekman commented on #91
@morbeo if you are willing to share a profile of your script using https://github.com/F-Hauri/bashProfiler I'd be curious to see how bad it is.

[2017-08-08 13:39] morbeo commented on #91
The colors do look kind of global. I mean, are you going to change them? :)
There is no slowdown at all, I am sorry if I implied there is.
Yes, it is about xtrace. I am just running the example `LOG_LEVEL=7 ./boiler.sh -f /tmp/x -d`
Basically any output is from that function includes the color variables declaration and that annoys me a lot :) I guess I will rewrite it to my liking.

[2017-08-08 13:39] #91 closed

[2017-09-05 12:25] kvz opened #94 "Investigate if shfmt is something for us"
https://github.com/mvdan/sh

[2017-09-05 14:54] zbeekman commented on #94
I use it, but there are some problems... mostly having to do with arithmetic expressions, and the inability to run `shfmt` if you need to dereference counter variables in arithmetic expressions... (Things like `${#}` incorrectly either cause parsing errors or claim that bash doesn't support it, or says it's a style error, but there's no other way to access these variables without an intermediate t

[2017-09-06 08:04] kvz commented on #94
Seems you investigated already, nice 😄

Also seems it's not a clear 💯  yet, perhaps let's wait a bit for the project to mature before investing in it. Will leave this open so we won't forget then

[2017-09-06 10:24] mvdan commented on #94
Hi! Shamelessly adding myself to the conversation.

It's entirely possible that parameter and arithmetic expansions have bugs - it's hard to get all the edge cases and details right. Have you tried recent versions such as 2.0? I fixed quite a bit of these earlier this year, so for example `${#}` now works.

Of course it's getting better with time, but it will get better faster if you spot bugs and

[2017-09-06 12:58] zbeekman commented on #94
@mvdan Thanks for chiming in! I'll have to test again with the latest version. If anything still seems broken I'll file a bug report.

Also, yes, I know I should not "suffer in silence" and know how frustrating this can be as an open source maintainer myself. Just hard to attend to all of life's priorities

[2017-09-06 13:01] mvdan commented on #94
No worries :) You don't need to provide detailed bug reports if you don't have the time - a way to reproduce the issue is enough.

[2017-10-18 08:58] kenden commented on #84
Shellcheck could be nice too https://github.com/koalaman/shellcheck

[2017-10-18 11:37] zbeekman commented on #84
@kenden we [already use shellcheck](https://github.com/kvz/bash3boilerplate/blob/0289532f187c6ebcac9dbc3b1be23fb54e1d683c/test/acceptance.sh#L230-L251). This is about style beyond linting/syntax checking 😉

[2018-01-23 21:58] mstreuhofer opened #97 "src/templater.sh should be replaced or removed"
templater.sh does its magic trying to use sed.
this works out fine as long as there is no surprise in any env var.
this cannot even really be fixed as such because really sed is the wrong tool for this job.
possibly use perl where quoting (`\Q` and `\E`) can be used or do as most others suggest and use eval+cat.
or at least try to replace only vars which actually get referenced in the template and

[2018-01-24 14:16] zbeekman commented on #97
I like removing reliance on tools other than bash whenever possible for this project so my vote is for eval+cat, or some other technique that doesn't require sed/awk/perl. Probably an all awk solution would be better than sed+awk. But TBH, I'll completely defer to you guys on this one. This level of text processing wizardry is starting to get out of my depth.

[2018-01-24 15:09] kvz commented on #97
I'd be fine with accepting an improved version, as I don't have the time to invest myself. Removing would be unideal for my own use of the project :)

[2018-01-25 20:02] mstreuhofer commented on #97
wrt #98 i have to say that i did not really fix anything. all i did was switch to perl if it is available. the original shell/sed/awk code is still there and it is still broken. so as long as we are all clear about that.. :)

[2018-01-25 20:02] #97 closed

[2018-06-06 13:32] gdevenyi opened #100 "Check if non-bash shell is executing script?"
We use lots of bashisms, for good reason.

Perhaps we should check and bail out if a non-bash shell is running the script?

One way to check: https://askubuntu.com/questions/97522/how-can-my-script-determine-whether-its-being-run-by-bash-or-dash

[2018-06-06 13:46] kvz commented on #100
Yes I like it! And if people want to force it, they can just run with `BASH_VERSION=force` or similar

[2018-06-25 06:23] QwertyZW opened #101 "Odd behaviour when example.sh is invoked with no args"
No sure if this behaviour is intended. I'm using bash4. This is what I had to do to work around it: https://github.com/QwertyZW/bash3boilerplate/commit/0cdc704a3d55661aa6ad17f9bd4271b0cdf4bedd
[code]

[2018-06-25 14:44] gdevenyi commented on #101
Not sure what you're referring to here, HEAD doesn't do that:
[code]

[2018-06-25 14:44] gdevenyi commented on #101
What version of bash are you using? ``bash --version``

[2018-06-25 14:47] gdevenyi commented on #101
It looks like you had a debug mode enabled on your terminal somehow.

[2018-06-25 15:12] zbeekman commented on #101
@gdevenyi they set PS4 and turned on -x: `qwertyzw% PS4='Line ${LINENO}: ' bash -x ./example.sh` so they are intentionally showing us the output.

@QwertyZW what is the problem? You expect the help text to print when invoking ./example.sh but it doesn't?

[2018-06-26 13:55] #101 closed

[2018-06-26 17:14] QwertyZW commented on #101
Thanks for the fast response guys.

@zbeekman yep, this is what I was looking for

[2018-07-20 15:13] gdevenyi opened #105 "Line numbers for debug mode"
Possible implementation here:
https://coderwall.com/p/wil8da/debug-bash-scripts-with-line-numbers-more-info

[2018-08-13 18:38] gdevenyi opened #106 "Repeat arguments"
Right now, if I want to provide multiple inputs to an argument I have to do this:
[code]

It would be nice if it instead could be:
[code]

Or possibly,
[code]

[2018-08-23 17:57] bknowles opened #107 "Latest shellcheck complaints about main.sh"
Folks,

It looks like the latest version of shellcheck complains about a few things in main.sh.  Maybe SC#### numbers have changed for some of these things that might need to be skipped?

`
$ shellcheck main.sh

In main.sh line 65:
  local color_debug="\x1b[35m"
                     ^-- SC1117: Backslash is literal in "\x". Prefer explicit escaping: "\\x".

In main.sh line 67:
  local color_info="

[2018-09-02 11:18] mstreuhofer opened #108 "using longname args with and without value in the wrong order produces the wrong result"
See https://github.com/kvz/bash3boilerplate/commit/9350e0574c8c301926f21c54c4f76beadc29abfd#commitcomment-30019068

[2018-09-02 12:34] mstreuhofer commented on #106
the code for argument parsing is already hard enough as it is. i wouldn't want to make it even harder to ever read and understand again. really what you are asking for is to use a proper language with proper argument parsing libs. sorry, but i don't see this as an issue, more as a feature request which, considering what it means, should be closed as wont-fix.

[2018-09-03 10:00] #108 closed

[2018-09-03 10:04] kvz commented on #106
I agree with @mstreuhofer that when you consider the implementation complexity and the cost of that chunk of code in every tempalte, we're beyond the tipping point where it might be more suitable to use an external library (not sure if getops would do the trick already) or a higher level language instead.

[2018-09-03 10:04] #106 closed

[2019-05-11 18:39] carlos-reynosa opened #110 "Add readme example for users on where to add boiler plate code."
I did not realize until after some trial and error that the best place to insert the code within the script is within the function that you want to export. I was having issues with the exporting the function. I think a recommendation within the read me on where to insert the boiler plate code would help others would reduce quick start friction:
[code]

[2019-06-05 12:40] gmeral opened #111 "Alert and emergency default colors are not readable."
<img width="1486" alt="Screenshot 2019-06-05 at 14 31 15" src="https://user-images.githubusercontent.com/6169938/58956893-c8355900-879f-11e9-84a2-e38a33178129.png">

[2019-06-05 22:01] zbeekman commented on #111
This is dependent on your terminal settings. For me:

<img width="445" alt="Screenshot 2019-06-05 17 59 59" src="https://user-images.githubusercontent.com/279612/58993563-e0b36c80-87bb-11e9-9fde-49eff3318723.png">

You can always pass `--no-color`. If you have better color combinations that you would like to suggest, we always welcome PRs.

[2019-06-27 11:43] virgilwashere commented on #105
Expanding upon #103, I've finished the code portion of adding colour and line numbers to debug mode.

Incidentally, this PR also passes `shellcheck` linting on `main.sh` so that closes off #107.
All current tests are passing on 👷 `TravisCI`.

PR coming next, and then I plan to add ✅ tests to cover the expected output.

Will add another PR for updating `shellcheck` installation in `.travis.yml`

Vi

[2019-06-27 21:37] virgilwashere commented on #105
@kvz any idea what went wrong with the 🍏osx tests here: https://travis-ci.com/virgilwashere/bash3boilerplate/builds/117169882 ??

🐧linux passed!

This should be the extent of the changes...

[code]

and the homebrew is just moving to `addons:` from `before_install:`

[2019-08-05 13:13] gdevenyi opened #115 "Depreciate argument parsing code in favour of argbash"
I love and use the other features of bash3boilerplate. But I found https://argbash.io/ and it has completely replaced my usage for argument parsing, it is a vastly superior implementation.

[2019-08-19 14:14] kvz commented on #115
That's a lot of docs to read, do i understand that we'd need to ship dependencies with bash3boilerplate? while i think our implementation isn't the prettiest, i think not requiring dependencies is a nice thing of b3bp?
https://argbash.readthedocs.io/en/stable/install.html#install

[2019-08-19 14:25] gdevenyi commented on #115
Nope, there's no need to ship anything with the resulting script.

Fundamentally, its a m4 preprocessor that generates bash code upon being processed.

For example, I just wrote these lines:
https://github.com/CobraLab/iterativeN4_multispectral/blob/master/iterativeN4_multispectral.sh#L3-L29

And then I do:
[code]

And it generated all the code you see in these lines:
https://github.com/CobraLab/i

[2019-09-05 19:57] damianoneill commented on #107
From https://www.shellcheck.net

[code]

[2019-09-05 21:39] damianoneill opened #116 "Question regarding embedding script"
Hi, is there a reason why the following won't work?

[code]

I've left main.sh as is, other than commenting out the Validation and Runtime sections at the bottom of the file.

[code]
But the following results in no output.

[code]

I was expecting that the help mode below in main.sh would work

[code]

The rationale for this approach, rather than updating main.sh, is that I can pull the latest mai

[2019-09-19 15:04] grische opened #119 "Travis CI fails with "There were unauthenticated packages""
Job ".1" on Travis currently seems to fail on all PRs with the following error:

[code]

https://travis-ci.org/kvz/bash3boilerplate/jobs/587038162
https://api.travis-ci.org/v3/job/587038162/log.txt

[2019-09-20 09:30] #107 closed

[2019-09-20 09:35] #119 closed

[2019-09-20 09:35] kvz commented on #119
Strange, I added `--allow-unauthenticated` to hopefully fix this

[2019-09-20 09:53] grische commented on #119
@kvz I think it didn't fix the source of the problem:
https://travis-ci.org/kvz/bash3boilerplate/jobs/587401759

[2019-10-08 13:59] grische opened #120 "Release v2.4.0"
@kvz is there any blocker for a new release? I assume the next version would be `2.4.0`.

Almost all checkboxes in [Changelog](https://github.com/kvz/bash3boilerplate/blob/ea57d157c70886f0776acd7cdecdba52e3ce8599/CHANGELOG.md) seem to be done. Is `lanyon@0.0.55` a hard blocker for a new release?

[2019-11-03 19:35] kvz commented on #105
Left a comment in that PR :ok_hand:

[2019-11-03 19:36] kvz commented on #110
I'd be open to a PR!

[2019-11-03 19:36] #110 closed

[2019-11-03 19:37] #111 closed

[2019-11-05 08:30] kvz commented on #119
This was fixed, thanks! :ok_hand:

[2019-11-05 08:32] kvz commented on #115
Okay so it's a bit like you would need a transpile step before you could run the bash script. We'd also need m4 to be installed everywhere. Is it ubiquitous?

I'm tempted to go along with this proposal so that we can remove the beast that our cli parsing has grown into, but at the same time, much of the appeal of b3bp was (and is to me still at least) that it can run on any thing that has bash3, n

[2019-11-05 08:34] kvz commented on #120
You're right! I just released, thanks for the pointer and sorry for taking so long!

[2019-11-05 08:34] #120 closed

[2019-11-05 13:58] gdevenyi commented on #115
m4 is part of the "build-essential" of Ubuntu, it's a pretty classic piece of software that you should find on any machine with development happening. I love b3bp for the other features, but argbash's parser is just so vastly superior that I wonder why we should be duplicating the effort.

[2019-11-06 07:25] kvz commented on #115
Needing to do transpiling before you can run a script is a big step to introduce for the community at large tho would you agree?

Sent from mobile, pardon the brevity.

[2019-11-06 13:33] gdevenyi commented on #115
Well the transpiling is only needed once, for the person writing the script, after that argbash generates/embeds the parser in regular bash code. transpiling is only needed again if one modifies the definitions of the parser and needs to update the code.

[2019-11-06 17:32] kvz commented on #115
I realize that but it’s already a big thing to introduce for a project that embraces the archaic nature of bash and “no compilers” etc

Sent from mobile, pardon the brevity.

[2019-11-07 10:04] grische commented on #120
@kvz did you forget to push the tag by any chance?
https://github.com/kvz/bash3boilerplate/releases

[2019-11-07 13:24] kvz commented on #120
I did something silly for sure, not exactly what tho :) Fixed now!

[code]

[2019-11-08 07:35] virgilwashere opened #123 "(osx): homebrew removed `--with-default-names`"
On Jan 18 2019, [`homebrew-core` removed][homebrew-pr] the option to install `coreutils` and other common GNU commands `--with-default-names`.

@kvz, you might want to consider using this logic

[code]

in https://github.com/kvz/bash3boilerplate/blob/master/test/acceptance.sh#L44-L60

Or possibly promoting it in the FAQ or README, and assuming standard GNU command names.

Personally, [`homebrew` 🍆

[2019-11-08 10:11] kvz commented on #123
As far as i understand, the `g` prefixed bins keep working, which is what we use in the acceptance.sh script?

[2019-11-08 17:27] virgilwashere commented on #123
I needed to account for the OSX G binaries in the travis scripts... or find a way to make homebrew gnu utils the same as Ubuntu.   End result is 1 osx if statement for PATH and the rest of the scripts work on both OS

[2019-11-12 12:15] kvz commented on #123
Let's continue this thread in https://github.com/kvz/bash3boilerplate/pull/114

[2019-11-12 12:15] #123 closed

[2019-11-13 13:03] virgilwashere commented on #123
Sure thing.  I remember reading I can get a travis environment to be interactive.  I'll confirm what we need.

[2019-11-16 11:22] eval opened #124 "Incorrect error_code on ERR"
In `__b3bp_err_report` the error_code is not correctly captured as it's the result of `local error_code`, hence always 0:
[code]
PR upcoming

[2019-11-18 10:56] #124 closed

[2020-01-09 06:22] rfuehrer opened #131 "Feature discussion: edit/remove of comments"
Hi, I'd like to start the discussion about the implementation of the code as PR, if the following changes fit in the original mindset. With the addition of the comment feature, it may be necessary to update existing comments.

Editing with complex and storing regular expressions may be error-prone and may not cover all situations. I have therefore found in various scenarios that it makes more sens

[2020-01-09 09:17] kvz commented on #131
I would be cool with this :)

[2020-01-09 09:23] rfuehrer commented on #131
:)

Okay, I will arrange the PR at short notice. I still have to prepare the test scenarios for this, so that this behaviour can be mapped properly

[2020-01-11 08:33] #131 closed

[2020-02-26 20:10] carlos-reynosa opened #134 "Question : Why use spaces before log level display?"
Why add spaces before the displayed log level?
![image](https://user-images.githubusercontent.com/926773/75383166-b7c69080-5890-11ea-8cb4-7ebc48d8ea81.png)

https://github.com/kvz/bash3boilerplate/blob/269627deec121839cf11cdcfab9f1fe3c421b2b4/main.sh#L98

[2020-02-27 07:10] kvz commented on #134
It’s left padded so that all the different levels line up at the right side, this makes it easier to parse the strings and levels for human brains

[2020-02-27 07:10] #134 closed

[2020-04-21 23:33] tomprogers opened #136 "broken links on b3bp website"
It appears that the links to CHANGELOG.md & FAQ.md both immediately redirect to `localhost:3000`.

I've confirmed this in three browsers on my workstation (Chrome, Firefox, Safari), as well as Safari on an iPhone.

Other links on the page, to other websites, work fine.

[2020-04-21 23:53] tomprogers opened #137 "document whether and how the auto-parsing handles positional arguments"
Parsing of options seems to work fine, but what's the deal as far as positional args? My script should accept one. Am I just on my own to figure out where to pick up the thread at the bottom of the template? The boilerplate code has already performed so many operations on the normal argument variables, it's hard to know where things stand.

[2020-04-22 07:57] #136 closed

[2020-04-22 07:58] kvz commented on #136
Thanks for reporting! I think I've fixed the issue, tested a production build locally. Let's see if Travis also agrees :)

[2020-04-22 08:05] kvz commented on #137
That's a good question, so you mean instead of:

`launch.sh -action help` what about `launch.sh help`? I have not written the parser myself but I do not think the parser supports this actually

[2020-05-27 11:41] kvz commented on #52
Found another gem https://zwischenzugs.com/2020/05/09/some-relatively-obscure-bash-tips/

[2021-02-24 11:05] guw opened #143 "Default="${HOME}/..." not properly expanded"
I might be doing something wrong but it looks like variable expansion is not working for default values in my sell environment (Big Sur, Fish shell).

I have
[code]

Further down I have:
[code]

Here is my output:
[code]

The interesting thing is that it really prints out `${HOME}` instead of `/Users/myusername`.

One observation from my shell:
[code]

[2021-02-25 17:42] mstreuhofer commented on #143
Well I can tell you that it has nothing to do with your shell. I tested it with BASH and the same happens. The code parsing the usage string into getopts arguments is not sophisticated enough or maybe it was never intended to support that. But don't let me stop you from scratching that itch of yours. We all would certainly welcome this new feature. :-)

[2021-02-25 18:15] guw commented on #143
Oh, so I read the documentation wrong. Sorry about that. When reading
https://github.com/kvz/bash3boilerplate/blob/986fec809095d5df2d71c08262ab9a705ec373f2/main.sh#L135 I assumed it would work in the default.

[2021-02-25 20:52] mstreuhofer commented on #143
Nice catch. Might be that this comment is from a time before the big rewrite of the usage string parsing. Of course this means that either the code is wrong or the comment.